# OpenAI / Proxy
OPENAI_API_KEY=sk-ваш-ключ
OPENAI_BASE_URL=https://api.proxypi.ru/v1
OPENAI_MODEL=gpt-3.5-turbo-16k
EMBEDDING_MODEL=text-embedding-3-small

# Pinecone
PINECONE_API_KEY=pcsk_...
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=zerovpg07
PINECONE_HOST=https://zerovpg07-ykilia5.svc.aped-4627-b74a.pinecone.io

# Telegram
TELEGRAM_TOKEN=ваш-токен

# Weather
WEATHER_API_KEY=ваш-ключ-openweather