# Telegram
TELEGRAM_BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# OpenAI / Proxy
OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_BASE_URL=https://api.proxyapi.ru/openai/v1   # или ваш прокси
OPENAI_MODEL=gpt-3.5-turbo-16k                     # уже ограничено

EMBEDDING_MODEL=text-embedding-3-small

# Pinecone
PINECONE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PINECONE_INDEX_NAME=zerovpg06
PINECONE_ENVIRONMENT=us-east-1
PINECONE_HOST=https://zerovpg06-ykilia5.svc.aped-4627-b74a.pinecone.io

