BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_API_BASE_URL=https://XXXXXXXX.XXXXXXXXXX.workers.dev/bot
OPENAI_BASE_URL=https://openai.api.proxyapi.ru/v1

# Настройки памяти
MEMORY_FILE=memory.json